# Environments
venv/
.venv/
env/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDEs/Editors
.vscode/
.idea/
*.swp
*.swo

# Notebooks checkpoints
.ipynb_checkpoints/

# Generated images
*.png
